<div id='wmsx-control'>
</div>

    <a id='playmsx' href='#'>Play this game online</a>

<script type='text/javascript'>
    $(document).ready(function(e) {
        $('#playmsx').click(function() {
            $('#playmsx').text('(Hold on..)');
            $('#wmsx-control').append(
                '<div id="wmsx" style="text-align: left; margin: 20px auto 0;">'
                + '<div id="wmsx-screen" style="box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);">'
                + '</div>'
                + '</div>'
            );
            jQuery.getScript("/_js/wmsx.js", function() {
                WMSX.AUTO_START_DELAY = -1;
                WMSX.CARTRIDGE1_URL = '/_roms/{% GAME %}';
                WMSX.MACHINE = '{% MACHINE %}';
                WMSX.start();
                $('#wmsx').show();
                $('#playmsx').hide();
            });
        });
    });
</script>